
    <section class="slider-sec">
      
      <div class="slider-container" #slider  [ngClass]="{'hide': hideSlider}">

          <div class="slider-card">
              <div class="card-image">
                  <img src="../../../assets/images/slider-img1.svg" class="card-thumb" alt="sider image">
              </div>
              <div class="card-info">
                  <h2 class="card-title">accelerate your entire mobile team workflow</h2>
              </div>
          </div>

          <div class="slider-card">
              <div class="card-image">
                  <img src="../../../assets/images/slider-img2.svg" class="card-thumb" alt="sider image">
              </div>
              <div class="card-info">
                  <h2 class="card-title">the most comprehensive bug reporting tool for mobile apps</h2>
              </div>
          </div>

          <div class="slider-card">
              <div class="card-image">
                  <img src="../../../assets/images/slider-img3.svg" class="card-thumb" alt="sider image">
              </div>
              <div class="card-info">
                  <h2 class="card-title">secure crash reporting with real-time alerts</h2>
              </div>
          </div>

          
         

      </div>
  </section>